{% extends 'base.html' %}

{% block head %}
<title>Meridian</title>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
{% endblock %}

{% block body %}
{% include 'nav.html' %}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="collapsible hoverable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">search</i><b>FILTROS DE PESQUISA</b></div>
                    <div class="collapsible-body white">
                        <div class="row">
                            <form method="POST">
                                <div class="col s12 m12 l12">
                                    {{ form.nome.label }}
                                    {{ form.nome() }}
                                </div>

                                <div class="col s12 m6 l4">
                                    {{ form.matricula.label }}
                                    {{ form.matricula() }}
                                </div>
                                <div class="col s12 m6 l4">
                                    {{ form.turma.label }}
                                    {{ form.turma() }}
                                </div>
                                <div class="col s12 m6 l4">
                                    {{ form.turno.label }}
                                    {{ form.turno() }}
                                </div>

                                {{ form.csrf_token }}
                                <div>
                                    <button type="submit" class=" col s12 m12 l12 purple accent-4 waves-light btn-large"> Pesquisar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        {% for x in alunos %}
        <a href="alunos/{{x['matricula']}}" class="">
            <div class="col s12 m12 l12">
                <div class="card horizontal hoverable purple accent-4">
                    <div class="col s12 m12 l12">
                        <div class="card-content white-text left-align">
                            <p>Nome:</p>
                            <h5 class=""><b>{{x['nome']}}</b></h5>
                            <p>Matricula: <b>{{x['matricula']}}</b></p>
                            <p>Turma: <b>{{x['turma']}}</b></p>
                            <p>Turno: <b>{{x['turno']}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>

</div>

{% endblock %}