{% extends 'base.html' %}

{% block head %}
<title>Meridian - {{data['nome']}}</title>
{% endblock %}

{% block body %}
{% include 'nav.html' %}

<div class="container">
    <div class="row">
        <div class="card col s12 m12 l12 hoverable purple accent-4">
            <div class="card-content left-align white-text">
                <div class="row">
                    <h6><b>DASHBOARD</b></h6>
                    <h6>Aluno(a):</h6>
                    <h4><i class="small material-icons">account_box</i><b> {{data['nome']}}</b></h4>
                    <div class="col s3 m3 l3">
                        <p>Matricula:</p>
                        <h6><b>{{data['matricula']}}</b></h6>
                    </div>
                    <div class="col s3 m3 l3">
                        <p>Turma:</p>
                        <h6><b>{{data['turma']}}</b></h6>
                    </div>
                    <div class="col s3 m3 l3">
                        <p>Turno:</p>
                        <h6><b>{{data['turno']}}</b></h6>
                    </div>
                    <div class="col s3 m3 l3">
                        <p>Nivel:</p>
                        <h6><b>{{data['nivel']}}</b></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}