{% extends 'base.html' %}

{% block head %}
<title>Meridian - {{data['nome']}}</title>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
</script>
{% endblock %}

{% block body %}

{% include 'nav.html' %}
<div class="container">
    {% if session['USRTYPE'] == 'USER' %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content row center-align white-text">
                    {% set url = 'alunos/{{dados.matricula}}/edit' %}
                    <div class="col s12 m6 l6"><a href="edit" class="waves-effect waves btn-flat"><i
                                class="material-icons left">edit</i>Editar Dados</a></div>
                    <div class="col s12 m6 l6"><a href="delete" , class="waves-effect waves btn-flat disabled"><i
                                class="material-icons left">person_remove</i>Desativar Aluno</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card horizontal hoverable purple accent-4">
                <div class="card-image hide-on-small-only">
                    <img class="" height="100%" style="object-fit: cover;" src="{{imgAluno()}}{{data.matricula}}.jpg">
                </div>
                <div class="card-content left-align white-text">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h6><b>DASHBOARD - {{data.nivel}}</b></h6>
                            <h6>Aluno(a):</h6>
                            <h4><b>{{data.nome}}</b></h4>
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <p>Matricula:</p>
                                    <h6><b>{{data.matricula}}</b></h6>
                                </div>
                                <div class="col s6 m6 l6">
                                    <p>Turma:</p>
                                    <h6><b>{{data.turma}}</b></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <p>Turno:</p>
                                    <h6><b>{{data.turno}}</b></h6>
                                </div>
                                <div class="col s6 m6 l6">
                                    <p>Nível:</p>
                                    <h6><b>{{data.nivel}}</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if admin %}
    {% endif %}
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="collapsible hoverable">
                <li>
                    <div class="collapsible-header"><b>INFORMAÇÕES E SERVIÇOS</b></div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons">receipt_long</i>Boletim</div>
                    <div class="collapsible-body white">
                        <h5><b>{{data.nome}}</b></h5>
                        <h6>Matricula: {{data.matricula}}</h6>
                        <h6>Turma: {{data.turma}}</h6>
                        <a href="{{getBoletim()}}{{data.matricula}}"
                            class="waves-effect purple accent-4 waves-light btn">Acessar o Boletim</a>
                        <a href="overview" class="waves-effect purple accent-4 waves-light btn">Visão Geral</a>
                    </div>
                </li>

                {% if services['matific'] %}
                {% set matific = services['matific'] %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">calculate</i>Matific</div>
                    <div class="collapsible-body white">
                        <h5><b>{{matific['nome']}}</b></h5>
                        <h6>Login: {{matific['login']}}</h6>
                        <h6>Senha: {{matific['password']}}</h6>
                        <a href="https://www.matific.com/bra/pt-br/login-page/?username={{matific['login']}}"
                            class="waves-effect purple accent-4 waves-light btn">Acessar o Matific</a>
                    </div>
                </li>
                {% endif %}
                {% if services['inspira'] %}
                {% set inspira = services['inspira'] %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">school</i>Opet Inspira</div>
                    <div class="collapsible-body white">
                        <h5><b>{{inspira['nome']}}</b></h5>
                        <h6>Login: {{inspira['email']}}</h6>
                        <h6>Senha: {{inspira['senha']}}</h6>
                        <a href="https://opetinspira.com.br/login"
                            class="waves-effect purple accent-4 waves-light btn">Acessar Opet Inspira</a>
                    </div>
                </li>
                {% endif %}
                {% if services['estuda'] %}
                {% set estuda = services['estuda'] %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">book</i>Estuda.com (via Opet)</div>
                    <div class="collapsible-body white">
                        <h5><b>{{estuda['nome']}}</b></h5>
                        <h6>Login: {{estuda['email']}}</h6>
                        <h6>Senha: {{estuda['senha']}}</h6>
                        <a href="http://opet.estuda.com" class="waves-effect purple accent-4 waves-light btn">Acessar
                            Estuda.com (via Opet)</a>
                    </div>
                </li>
                {% endif %}
                {% if services['voucher'] %}
                {% set voucher = services['voucher'] %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">redeem</i>Voucher (GGE - SSA)</div>
                    <div class="collapsible-body white">
                        <h5><b>{{voucher['nome']}}</b></h5>
                        <h6>Login: {{voucher['email']}}</h6>
                        <h6>Senha: {{voucher['voucher']}}</h6>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}