<!DOCTYPE html>

<head>
</head>

<body>
    <div class="row">
        <nav class="blue accent-4">
            <div class="nav-wrapper col s12 m12 l12 xl12">
                <a href="#" class="brand-logo left">
                    <div class="col responsive-img valign-wrapper">
                        <img src="{{link}}" height="60px">
                    </div>
                </a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/aluno">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>